<aside class="sidebar">
  <div class="sidebar-logo">
    <div class="sidebar-logo-icon">📺</div>
    <span class="sidebar-logo-text">Arsal</span>
  </div>
  
  <div class="nav-item" routerLink="/dashboard" routerLinkActive="active">
    <span class="nav-icon">🏠</span> Dashboard
  </div>

  <div class="nav-item" routerLink="/videos" routerLinkActive="active">
    <span class="nav-icon">🎬</span> Vídeos
  </div>

  <div class="nav-item" routerLink="/dispositivos" routerLinkActive="active">
    <span class="nav-icon">📡</span> Dispositivos
  </div>

  

  <div class="sidebar-bottom">
    <div class="user-chip">
      <div class="avatar">A</div>
      <div class="user-info">
        <div class="user-name">André Lessa</div>
        <div class="user-role">TI Arsal</div>
      </div>
    </div>
  </div>
</aside>