
.container-principal {
  height: calc(100vh - 64px);
}

.header-arsal {
  background: linear-gradient(90deg, #0f4c81 0%, #1a73e8 100%) !important;
  color: white !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;
}


.botao-menu {
  color: white;
}

.titulo-header {
  margin-left: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}


.menu-lateral {
  width: 260px;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
}


.menu-perfil {
  text-align: center;
  padding: 30px 10px 20px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 10px;
  background-color: #fafbfc;
}


.nome-perfil {
  margin: 5px 0 0 0;
  color: #555;
}

.cargo-perfil {
  color: #888;
}

.icone-gigante {
  font-size: 55px;
  height: 55px;
  width: 55px;
  color: #0f4c81;
  margin-bottom: 5px;
}


.icone-azul {
  color: #1a73e8 !important;
  margin-right: 15px; 
}

.texto-menu {
  font-weight: 500;
  color: #333;
}

.area-conteudo {
  background-color: #f0f2f5;
  padding: 30px;
}

.layout-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between; 
}


.menu-rodape {
  border-top: 1px solid #f0f0f0;
  background-color: #fffafb; 
}

.icone-vermelho {
  color: #d32f2f !important;
  margin-right: 15px;
}

.texto-vermelho {
  color: #d32f2f;
  font-weight: 500;
}