/* 1️⃣ Importando o Tema e a Fonte de Ícones Oficial do Google */
@import '@angular/material/prebuilt-themes/azure-blue.css';

/* 🔤 Esta linha mágica traz os ícones do Material para a ARSAL 👇 */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* 2️⃣ Ajustes Globais da ARSAL - Tonalidade Gemini Clara */
html, body { 
  height: 100%; 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* 👇 Tonalidade clara e limpa, igual ao fundo do Gemini */
  background-color: #f5f7f9 !important; 
}